img{
  border-radius: 25px;
}
  body{
  background-color: rgb(230, 252, 252);
}

.about{
  background-color: rgb(250, 212, 252);
  border-radius: 15px;
  padding: 3px 0 .001px 3px;
  margin:30px 20% 30px 10%;
  font-family:"Amazon Ember", Arial, sans-serif;
  }
#aboutTitle{
  font-style: italic;
  text-align: center;
  color: rgb(19, 19, 19);
  text-shadow: 3px .6px 20px black
}
#aboutPara{
  font-size: larger;
  text-align: center;
  padding: 0 0 10px 0;
  
}

.experience{
  background-color: rgb(250, 212, 252);
 border-radius: 15px;
   padding: 3px 0 .001px 3px;
   text-align: center;
   margin:30px 10% 30px 20%;
  font-family:"Amazon Ember", Arial, sans-serif;
  
  }
#experienceTitle{
  text-align: center;
  font-style: italic;
  color: rgb(19, 19, 19);
  text-shadow: 3px .6px 20px black
}
#experiencePara{
  font-size: larger;
  padding: 0 0 10px 0;
}

.education{
  background-color: rgb(250, 212, 252);
  border-radius: 15px;
   padding: 3px 0 .001px 3px;
    margin:30px 20% 30px 10%;
   font-family:"Amazon Ember", Arial, sans-serif;
  
  }
#educationTitle{
  text-align: center;
  font-style: italic;
  color: rgb(19, 19, 19);
  text-shadow: 3px .6px 20px black
}
#educationPara{
  font-size: larger;  
  text-align: center;
  padding: 0 0 10px 0;
}

.skills{
  background-color: rgb(250, 212, 252);
  border-radius: 15px;
   padding: 3px 0 .001px 3px;
   margin:0 10% 0 20%;
   font-family:"Amazon Ember", Arial, sans-serif;
   margin:30px 10% 30px 20%;
  
  }
#skillsTitle{
  text-align: center;
  font-style: italic;
  color: rgb(19, 19, 19);
  text-shadow: 3px .6px 20px black
}
#skillsPara{
  font-size: larger;  
  text-align: center;
  padding: 0 0 10px 0;
}

